body {
	margin: 0;
	background-color: #f0f0f0;
	color: #404040;
	font-family: "Inter", sans-serif;
}
h1, h2, h3, p {
	margin: 8px;
}
h1 {
	font-weight: 500;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100vw;
	height: 100vh;
}
table {
	margin: 8px;
}
table, td, tr {
	border: 1px solid black;
	border-collapse: collapse;
}
table td {
	padding: 8px;
}
table td.name {
	font-weight: 600;
}
table td.link {
	background-color: inherit;
	transition: background-color ease 0.25s;
}
table td.link:hover {
	background-color: #c0c0c0;
}
